<nav class="navbar navbar-light bg-light shadow-sm">
    <div class="container-fluid d-flex flex-row">
        <div>
            <i (click)="navmenu()" class="bi bi-list d-lg-none" id="sidebar-toggle" [hidden]="isHomeActive"></i>
            <a href="#" class="navbar-brand fw-bold align-self-start">
                Cloud Castle</a>
        </div>
        <div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Profile picture" height="30"
                        loading="lazy" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="" routerLink="/profile">My Profile</a></li>
                    <li><a class="dropdown-item" href="" routerLink="/settings">Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>