<div class="row shadow-sm "> <!-- Edit Tools row-->
    <div class="col-3 p-3 d-flex align-items-end">
        <h2 class="fs-6 fw-bold">
            All Files
        </h2>
    </div>
    <div class="col p-3 text-end">
        <!-- Upload -->
        <button class="btn btn-light text-primary me-2" title="Upload files">
            <i class="bi bi-cloud-upload"></i>
        </button>
        <!-- Edit -->
        <button class="btn btn-light text-primary me-2" title="Edit files">
            <i class="bi bi-pencil-square"></i>
        </button>
        <!-- Download -->
        <button class="btn btn-light text-primary me-2 disabled" title="Save files">
            <i class="bi bi-cloud-download"></i>
        </button>
        <!-- Remove -->
        <button class="btn btn-light text-danger me-2 disabled" title="Remove files">
            <i class="bi bi-trash3"></i>
        </button>
    </div>
</div>



<div class="row ">
    <div class="col vh-100 p-0">
        <div class="align-self-end">
            gg
        </div>
    </div>
</div>