@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}